body {
    padding: 0;
    margin: 0;
    background-color: red;
}

/*header------------------------------------------------------*/

.head {
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
}
.imgOnhead img{
    width: 70px;
    height: 70px;
}
.imgOnhead {
    padding-top: 15px;
    padding-left: 20px;
    width: max-content;
    justify-content: left;
}
.navi li {
    color: white;
    display: inline;
    margin: 50px;
}

.navi li a{
    color: red;
    text-decoration: none;
    font-size: 24px;
}
.navigateOnhead {
    width: max-content;
    padding-top: 0;
    justify-content: right;
    padding-top: 35px;
    padding-left: 600px;
}

/*main ------------------------------------------------*/

main {
    width: 90%;
    height: 200vh;
    background-color: antiquewhite;
    margin-left: 80px;
}

.zagolovok {
    width: max-content;
    height: max-content;
    padding-left: 700px;
}
.zagolovok h2 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.zagolovok p{
    padding-left: 180px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.mainBloks {
    width: 1500px;
    height: 800px;
    background-color: burlywood;
    margin-left: 100px;
    display: grid;
    grid-template-columns: [start] 500px [line2] 500px [line3] 500px [end];
    grid-template-rows: [start] 200px [row1] 200px [row2] 200px [row3] 200px [end];
    border-radius: 30px 30px 30px 30px;
}

/* блок 1 -------------------------*/
.blokOne {
    width: 400px;
    height: 180px;
    background-color: darkorange;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 15px 15px 15px 15px;
}
.blokOne h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: forestgreen;
    padding-left: 140px;
    margin-top: 20px;
    margin-bottom: 0;
}
.blokOne p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: forestgreen;
    padding-left: 155px;
    font-size: 17px;
    margin-bottom: 0;
}

.buttomResh {
    width: 100px;
    height: 40px;
    background-color: aqua;
    margin-top: 20px;
    margin-left: 150px;
    border-radius: 10px 10px 10px 10px;
}
.buttomResh p{
    color: black;
    padding-left: 20px;
    padding-top: 10px;
}
.buttomResh a{
    text-decoration: none;
}
/* блок 1 end -----------------------*/


/* footer ---------------------------------------------*/

.footer {
    width: 100%;
    height: 10vh;
    background-color: black;
    margin-top: 10px;
    display: flex;
}

.imageFooter img{
    width: 70px;
    height: 70px;
    padding-top: 15px;
    padding-left: 30px;
}

.navigateFooter ul {
    display: inline;
}

.navigateFooter {
    width: max-content;
    padding-top: 40px;
    padding-left: 500px;
}

.nameContact {
    color: white;
    font-size: 24px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.telefon {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.pochta {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}