<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Главная</title>
</head>
<body>
    <header>
        <div class="head">
            <div class="imgOnhead">
                <img src="{{ url_for('static', filename='python-seeklogo.svg') }}" alt="logo">
            </div>
            <div class="navigateOnhead">
                <nav class="navi">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/task">Задачник</a></li>
                    <li><a href="#">Отзывы</a></li>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="main">
            <div class="imageOnMain">
                <img src="{{ url_for('static', filename='photo_5305423382940080195_x.jpg') }}" alt="">
            </div>
            <div class="textOnMain">
                <h2>Подробнее о проекте</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad voluptatibus architecto quis, consequuntur nisi, molestiae perferendis incidunt autem voluptatum laudantium voluptate obcaecati labore voluptatem tenetur, quo quas commodi voluptas repudiandae? Voluptas, eum aspernatur iure tenetur qui dicta temporibus at sint impedit in, cupiditate esse earum quae, fugit non perferendis quidem placeat accusamus voluptate eius. Adipisci doloremque, dolores dolore non, odit maxime nemo sunt iste similique reiciendis fugiat, voluptatum ipsam ex possimus? Enim dolorum nemo quis, accusamus dicta doloribus vero magnam ad voluptatibus ullam illum nesciunt praesentium odio quisquam laudantium facere, voluptatem aspernatur accusantium laborum quod placeat? Eum, accusamus voluptate.</p>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="imageFooter">
                <img src="/static/python-seeklogo.svg" alt="">
            </div>
            <div class="contactFooter">
                <nav class="navigateFooter">
                    <ul class="nameContact">Контакты:</ul>
                    <ul class="telefon">Телефон: 904898954</ul>
                    <ul class="pochta">Почта: huvu@gmail.com</ul>
                </nav>
            </div>
        </div>
    </footer>

</body>
</html>