<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/1_1_1.css">
    <title>Уровень 1.1</title>
</head>
<body>
    <header>
        <div class="head">
            <div class="imgOnhead">
                <img src="{{ url_for('static', filename='python-seeklogo.svg') }}" alt="logo">
            </div>
            <div class="navigateOnhead">
                <nav class="navi">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/task">Задачник</a></li>
                    <li><a href="#">Отзывы</a></li>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="zagolovok">
            <h2>Задачи на python для начинающих</h2>
            <p>Уровень 1.1</p>
        </div>

        <div class="blok">
            <h2>№ 1</h2>
            <p>Дано число. Проверьте, отрицательное оно или нет. Выведите об этом информацию в консоль.</p>
            <p class="ppp">Решение</p>
            <input type="checkbox" id="toggleCheckbox" class="toggle-checkbox">
            <div id="infoContent" class="hidden">
                <p>a = int(input('введите число: '))</p> 
                    <p>if a < 0:</p>
                        <p>print ('Число отрицательное')</p> 
                    <p>elif a > 0: </p>
                        <p>print('Число положительное') </p>
                    <p>elif a == 0:</p> 
                        <p>print('Число ровно 0')</p>
            </div>
        </div>

        <div class="blok">
            <h2>№ 2</h2>
            <p>Дана строка. Выведите в консоль длину этой строки.</p>
            <p class="ppp">Решение</p>
            <input type="checkbox" id="toggleCheckbox" class="toggle-checkbox">
            <div id="infoContent" class="hidden">
                <p>a = str(input('Введите строку: ')) </p>
                <p>string = len(a) </p>
                <p>print(f'Длина строки: {string}')</p>
            </div>
        </div>

        <div class="blok">
            <h2>№ 3</h2>
            <p>Дана строка. Выведите в консоль последний символ строки.</p>
            <p class="ppp">Решение</p>
            <input type="checkbox" id="toggleCheckbox" class="toggle-checkbox">
            <div id="infoContent" class="hidden">
                <p>a = str(input('Введите строку: ')) </p>
                <p>last_char = a[-1] </p>
                <p>print(last_char)</p>
            </div>
        </div>

        <div class="blok">
            <h2>№ 4</h2>
            <p>Дано число. Проверьте, четное оно или нет.</p>
            <p class="ppp">Решение</p>
            <input type="checkbox" id="toggleCheckbox" class="toggle-checkbox">
            <div id="infoContent" class="hidden">
                <p>a = int(input('Введите число: ')) </p>
                <p>if a % 2 == 0: </p>
                    <p>print('число четное')</p> 
                <p>else: </p>
                    <p>print('Число не четное')</p>
            </div>
        </div>

        <div class="blok">
            <h2>№ 5</h2>
            <p>Даны два слова. Проверьте, что первые буквы этих слов совпадают.</p>
            <p class="ppp">Решение</p>
            <input type="checkbox" id="toggleCheckbox" class="toggle-checkbox">
            <div id="infoContent" class="hidden">
                    <p>a = str(input('Введите первое слово: '))</p>
                    <p>b = str(input('Введите второе слово: '))</p>
                    <p>one = a[0]</p>
                    <p>two = b[0]</p>
                    <p>if one == two:</p>
                        <p>print(f'первые буквы совподают: {one} = {two}')</p>
                    <p>else:</p>
                        <p>print(f'Первые буквы не совпадают: {one} не = {two}')</p>
            </div>
        </div>

        <div class="blok">
            <h2>№ 6</h2>
            <p>Дано слово. Получите его последнюю букву. Если слово заканчивается на мягкий знак, то получите предпоследнюю букву.</p>
            <p class="ppp">Решение</p>
            <input type="checkbox" id="toggleCheckbox" class="toggle-checkbox">
            <div id="infoContent" class="hidden">
                <p>a = str(input('Введите слово: '))</p> 
 
                <p>magok = 'ь' </p>
                 
                <p>last_char = a[-1]</p> 
                <p>pred_last_char = a[-2]</p> 
                 
                <p>if last_char == magok:</p> 
                    <p>print(pred_last_char)</p> 
                <p>else:</p> 
                    <p>print(last_char)</p>
            </div>
        </div>

    </main>
    <footer>
        <div class="footer">
            <div class="imageFooter">
                <img src="/static/python-seeklogo.svg" alt="">
            </div>
            <div class="contactFooter">
                <nav class="navigateFooter">
                    <ul class="nameContact">Контакты:</ul>
                    <ul class="telefon">Телефон: 904898954</ul>
                    <ul class="pochta">Почта: huvu@gmail.com</ul>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>