<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/1_1_3.css">
    <title>Уровень 1.1</title>
</head>
<body>
    <header>
        <div class="head">
            <div class="imgOnhead">
                <img src="{{ url_for('static', filename='python-seeklogo.svg') }}" alt="logo">
            </div>
            <div class="navigateOnhead">
                <nav class="navi">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/task">Задачник</a></li>
                    <li><a href="#">Отзывы</a></li>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="zagolovok">
            <h2>Задачи на python для начинающих</h2>
            <p>Уровень 1.3</p>
        </div>

        <div class="blok">
            <h2>№ 1</h2>
            <p>Дана строка. Если в этой строке более одного символа, выведите в консоль предпоследний символ этой строки.</p>
            <p class="ppp">Решение</p>
            <input type="checkbox" id="toggleCheckbox" class="toggle-checkbox">
            <div id="infoContent" class="hidden">
                <p>string = str(input('Введите строку: '))</p>
                <p>len_str = len(string)</p>
                <p>if len_str == 1:</p>
                    <p>print('некоректная запись, в ваше строке 1 элемент')</p>
                <p>else:</p>
                    <p>print(f'Предпоследний символ: {string[-2]}')</p>
            </div>
        </div>

        <div class="blok">
            <h2>№ 2</h2>
            <p>Даны два целых числа. Проверьте, что первое число без остатка делится на второе.</p>
            <p class="ppp">Решение</p>
            <input type="checkbox" id="toggleCheckbox" class="toggle-checkbox">
            <div id="infoContent" class="hidden">
                <p>num1 = int(input('Введите первое число: '))</p>
                <p>num2 = int(input('Введите второе число: '))</p>
                <p>rezalt = num1 % num2</p>
                <p>if rezalt == 0:</p>
                    <p>print('Числа делятся без остатка')</p>
                <p>else:</p>
                    <p>print(f'Числа делятся с остатком: {rezalt}')</p>
            </div>
        </div>

        <div class="blok1">
            <h2>№ 3</h2>
            <p>Дана некоторая строка:</p>
            <p>'abcde'</p>
            <p>Получите список ее символов:</p>
            <p>['a', 'b', 'c', 'd', 'e']</p>
            <p class="ppp">Решение</p>
            <input type="checkbox" id="toggleCheckbox" class="toggle-checkbox">
            <div id="infoContent" class="hidden">
                <p>string = 'abcde'</p>

                <p>list = list(string)</p>

                <p>print(list)</p>
            </div>
        </div>

        <div class="blok1">
            <h2>№ 4</h2>
            <p>Дан список:</p>
            <p>[1, 2, 3, 4, 5, 6]</p>
            <p>Получите из него следующий срез:</p>
            <p>[3, 4, 5]</p>
            <p class="ppp">Решение</p>
            <input type="checkbox" id="toggleCheckbox" class="toggle-checkbox">
            <div id="infoContent" class="hidden">
                <p>list = [1, 2, 3, 4, 5, 6]</p>

                <p>a = list[2:5]</p>
                
                <p>print(a)</p>
            </div>
        </div>

        <div class="blok3">
            <h2>№ 5</h2>
            <p>Дан словарь с датой:</p>
            <p>{</p>
                <p>'year' : '2025',</p>
                <p>'month': '12',</p>
                <p>'day'  : '31',</p>
            <p>}</p>
            <p class="ppp">Решение</p>
            <input type="checkbox" id="toggleCheckbox" class="toggle-checkbox">
            <div id="infoContent" class="hidden">
                <p>{</p>
                    <p>'year' : '2025',</p>
                    <p>'month': '12',</p>
                    <p>'day'  : '31',</p>
                <p>}</p>
                <p>format =  year['year'] + '-' + year['month'] + '-' + year['day'] </p>
                
                <p>print(format)</p>
            </div>
        </div>

    </main>
    <footer>
        <div class="footer">
            <div class="imageFooter">
                <img src="/static/python-seeklogo.svg" alt="">
            </div>
            <div class="contactFooter">
                <nav class="navigateFooter">
                    <ul class="nameContact">Контакты:</ul>
                    <ul class="telefon">Телефон: 904898954</ul>
                    <ul class="pochta">Почта: huvu@gmail.com</ul>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>