<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/task.css">
    <title>Задачи</title>
</head>
<body>
    <header>
        <div class="head">
            <div class="imgOnhead">
                <img src="{{ url_for('static', filename='python-seeklogo.svg') }}" alt="logo">
            </div>
            <div class="navigateOnhead">
                <nav class="navi">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/task">Задачник</a></li>
                    <li><a href="#">Отзывы</a></li>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="zagolovok">
            <h2>Задачи на python для начинающих</h2>
            <p>Уровень 1</p>
        </div>
        <div class="mainBloks">
            <div class="blokOne">
                <h3>Уровень 1</h3>
                <p>Уровень 1.1</p>
                <div class="buttomResh">
                    <a href="/level1_1_1"><p>Решать</p></a>
                </div>
            </div>

            <div class="blokOne">
                <h3>Уровень 1</h3>
                <p>Уровень 1.2</p>
                <div class="buttomResh">
                    <a href="/level1_1_2"><p>Решать</p></a>
                </div>
            </div>

            <div class="blokOne">
                <h3>Уровень 1</h3>
                <p>Уровень 1.3</p>
                <div class="buttomResh">
                    <a href="/level1_1_3"><p>Решать</p></a>
                </div>
            </div>

            <div class="blokOne">
                <h3>Уровень 1</h3>
                <p>Уровень 1.4</p>
                <div class="buttomResh">
                    <a href="#"><p>Решать</p></a>
                </div>
            </div>

            <div class="blokOne">
                <h3>Уровень 1</h3>
                <p>Уровень 1.5</p>
                <div class="buttomResh">
                    <a href="#"><p>Решать</p></a>
                </div>
            </div>

            <div class="blokOne">
                <h3>Уровень 1</h3>
                <p>Уровень 1.6</p>
                <div class="buttomResh">
                    <a href="#"><p>Решать</p></a>
                </div>
            </div>

            <div class="blokOne">
                <h3>Уровень 1</h3>
                <p>Уровень 1.7</p>
                <div class="buttomResh">
                    <a href="#"><p>Решать</p></a>
                </div>
            </div>

            <div class="blokOne">
                <h3>Уровень 1</h3>
                <p>Уровень 1.8</p>
                <div class="buttomResh">
                    <a href="#"><p>Решать</p></a>
                </div>
            </div>

            <div class="blokOne">
                <h3>Уровень 1</h3>
                <p>Уровень 1.9</p>
                <div class="buttomResh">
                    <a href="#"><p>Решать</p></a>
                </div>
            </div>

            <div class="blokOne">
                <h3>Уровень 1</h3>
                <p>Уровень 1.10</p>
                <div class="buttomResh">
                    <a href="#"><p>Решать</p></a>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="imageFooter">
                <img src="/static/python-seeklogo.svg" alt="">
            </div>
            <div class="contactFooter">
                <nav class="navigateFooter">
                    <ul class="nameContact">Контакты:</ul>
                    <ul class="telefon">Телефон: 904898954</ul>
                    <ul class="pochta">Почта: huvu@gmail.com</ul>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>